/* ===== */
/*  nms  */
/* ===== */
.ui-resizable-e,
.ui-resizable-w {
    width: 1vh;
}
.ui-resizable-n,
.ui-resizable-s {
    height: 1vh;
}
.ui-resizable-se {
    right: -5px;
    bottom: -5px;
}
.ui-resizable-se,
.ui-resizable-sw,
.ui-resizable-ne,
.ui-resizable-nw {
    right: -0.3vw;
    bottom: -0.6vh;
    height: 1.3vh;
    width: 0.64vw;
}
.ui-icon {
    display: none;
    background-image: none;
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    line-height: normal !important;
}
/* ===== */
/*  end  */
/* ===== */
* {
    box-sizing: border-box;
}
body {
    min-width: 100vw;
    min-height: 100vh;
    color: white;
    margin: 0vh;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
p {
    margin: 0;
}
.display {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../images/wallpaper.webp');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.selectionBox {
    z-index: 3;
    display: none;
    position: fixed;
    background-color: #00bbd446;
    border: .1vh solid #00bbd446;
}
/* upper taskbar */
.taskbar {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-flex;
    position: relative;
    width: 100vw;
    height: 2.4vh;
    font-size: 1.8vh;
    z-index: 10;
    box-shadow: 0 1vh 3vh 1vh rgb(0 0 0 / 12%);
    border-bottom: .1vh solid rgba(0, 0, 0, 0.5);
    border-top: .1vh solid rgba(255, 255, 255, 0.1);
}
.taskbarItems {
    margin-left: 0.2vw;
    width: fit-content;
    display: inline-flex;
}
.taskbarItemsLeft {
    margin-right: 0.2vw;
    width: fit-content;
    display: inline-flex;
    margin-left: auto;
}
.taskbarElement {
    display: inline-flex !important;
    align-items: center;
    padding: 0.1vw 0.3vw 0vh 0.3vw;
}
.taskbarElement:hover, .taskbarElementActive {
    background-color: #00bbd4;
}
#taskbarClock {
    text-align: center;
}
/* lower taskbar */
.lowerTaskbar {
    height: 3.6vh;
    justify-content: center;
    align-items: center;
}
/* desktop */
.desktop {
    z-index: 1;
    width: 100vw;
    height: inherit;
    position: relative;
}
.desktopFile {
    z-index: 2;
    position: fixed;
    text-align: center;
    border-radius: .8vh;
    display: flex;
    flex-direction: column;
    height: 8vh;
    width: 8vh;
}
.desktopFileIcon {
    font-size: 5vh;
    padding-top: 0.5vh;
}
.desktopFileTitle {
    font-size: 1.5vh;
}
.desktopFile:hover {
    background-color: #9fd2ff1f !important;
}
.desktopFileActive {
    background-color: #9fd2ff42 !important;
}
.desktopFileActive:hover {
    background-color: #8bc9ff6b !important;
}
/* window */
.window {
    z-index: 2;
    position: fixed;
    display: none;
    border-radius: 0.5vh 0.5vh 0 0;
    overflow: hidden;
    background-color: #2d2d2d;
    border: #5c5c5c 0.1vh solid;
    /* box-shadow: black 0px 0px 2vh 0.1vh; */
    left: 50%;
    top: 50%;
    flex-direction: column;
}
.windowNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.2vh;
    background-color: #494949;
}
.windowTitle {
    display: inline-block;
    margin-left: 0.3vw;
}
.windowButtons {
    display: flex;
    margin-right: 0.3vw;
}
.windowButton {
    height: 0.8vw;
    width: 0.8vw;
    margin-left: 0.2vw;
    background-repeat: no-repeat;
    background-position: center;
}
.buttonClose {
    background-image: url('../images/close.svg');
}
.buttonMaximize {
    background-image: url('../images/maximize.svg');
}
.buttonMinimize {
    background-image: url('../images/minimize.svg');
}
.windowContent {
    padding-left: 0.5vw;
    font-size: 2vh;
}
/* dropdowns */
.dropdown, .ctxm {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    padding-block: 0.4vh;
    flex-direction: column;
    display: none;
    z-index: 10;
    border: .1vh solid rgba(0, 0, 0, 0.5);
    border-top: .1vh solid rgba(255, 255, 255, 0.1);
    border-radius: 0 0 .5vh .5vh;
    box-shadow: 0.5284vh 0.5284vh 0.7926vh -.1321vh rgb(0 0 0 / 12%);
}
.dropdownActive {
    display: flex;
}
.dropdown-item {
    padding-inline: .8vw;
    font-size: 1.8vh;
    display: flex;
}
.dropdown-item i {
    padding-right: .6vh;
}
.dropdown-item:hover {
    background-color: #00bbd4;
}
.dropdown-separator {
    height: .1vh;
    background-color: rgba(255, 255, 255, 0.2);
    margin-block: .4vh;
}
/* contextmenu */
.ctxm {
    border-radius: .5vh;
}
.ctxm-item {
    padding-inline: .8vw;
    font-size: 1.8vh;
    display: flex;
}
.ctxm-item i {
    padding-right: .6vh;
}
.ctxm-item:hover {
    background-color: #00bbd4;
}