/* ===== */
/*  nms  */
/* ===== */
.ui-resizable-e, 
.ui-resizable-w {
	width: 1.1vh;
}
.ui-resizable-n, 
.ui-resizable-s {
	height: 1.1vh;
}
.ui-resizable-se {
    right: -5px;
    bottom: -5px;
}
.ui-resizable-se, 
.ui-resizable-sw, 
.ui-resizable-ne, 
.ui-resizable-nw {
    right: -.3vw;
    bottom: -.6vh;
    height: 1.3vh;
    width: .64vw;
}
.ui-icon {
    display: none;
    background-image: none;
}
.fa, 
.fab, 
.fad, 
.fal, 
.far, 
.fas {
    line-height: normal !important;
}
/* ===== */
/*  end  */
/* ===== */
* {
    box-sizing: border-box;
}
body {
    min-width: 100%;
    min-height: 100vh;
    background-image: url('../images/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0vh;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;     
}
p {
    margin: 0;
}
/* taskbar */
.taskbar {
    background-color: rgba(0, 0, 0, 0.836);
    display: inline-flex;
    color: white;
    position: absolute;
    width: 100vw;
    height: 2.4vh;
    font-size: 1.8vh;
    z-index: 10;
    box-shadow: 0 1vh 3vh 1vh rgb(0 0 0 / 12%);
}
.taskbarItems {
    margin-left: .2vw;
    width: fit-content;
    display: inline-flex;
}
.taskbarItemsLeft {
    margin-right: .2vw;
    width: fit-content;
    display: inline-flex;
    margin-left: auto;
}
#taskbarClock {
  /*width: 5vw; */
    text-align: center;
}
.taskbarElement {
    display: inline-flex !important;
    align-items: center;
    padding: 0 .3vw 0vh .3vw;
}
.taskbarElement:hover {
    background-color: lightseagreen;
}
/* desktop */
.desktop {
    z-index: 1;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
}
.desktopFile {
    z-index: 2;
    position: absolute;
    color: white;
    text-align: center;
    width: 9.3vh;
    height: 9.3vh;
    justify-content: center;
    border-radius: 1vh;
    display: grid;
}
.desktopFile:hover {
    background-color: #9fd3ff29;
}
.desktopFileActive {
    background-color: #9fd2ff6b !important;
}
.desktopFileIcon {
    font-size: 5.5vh;
    display: inline-table;
    align-items: center;
    padding-top: .6vh;
}
.desktopFileTitle {
    font-size: 1.5vh;
}
/* desktop end */
/* windows */
.window {
    z-index: 2;
    position: fixed;
    display: block;
    color: white;
    background-color: #2D2D2D;
    box-shadow: 0 0 1.6vh 0 rgba(0, 0, 0, 0.75);
    border-radius: .5vh;
    border: .25vh #5C5C5C solid;
    overflow: hidden;
}
.windowTitleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #494949;
    position: relative;
    color: white;
    width: 100%;
    height: 3vh;
    font-size: 2.2vh;
    border-bottom: .25vh #141414 solid;
}
.windowTitle {
    display: inline-block;
    margin-left: .5vw;
}
.windowTitleButtons {
    display: inline-flex;
    margin-right: .5vw;
}
.windowButton {
    height: 1.4vh;
    display: flex;
    padding-left: .4vw;
}
.windowContent {
    padding-left: .5vw;
    font-size: 2vh;
}
.selectionBox {
    z-index: 3;
    display: none;
    position: absolute;
    background-color: #00bcd473;
    border: 1px solid #00bcd473;
}




.apple-svg {
    width: 12px;
}
.menu-svg {
    width: 12px;
}
.apple-svg:hover {
    background-color: lightseagreen;
}
.menu-svg:hover {
    background-color: lightseagreen;
}
.font-svg {
    font-family: sans-serif;
}
.margin-svg {
    margin: .0vw .5vw .0vw .5vw;
}